ul li {
    list-style: none;
    margin: 0 20px;
}

ul {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

ul li:hover {
    background: linear-gradient(to bottom, orange, white, green);
}

body {
    background: linear-gradient(to bottom, orange, white, green) fixed;
}


.parasf {
    font-size: 2em;
    font-family: "Lobster", cursive;
    color: white;
}


.task {
    font-size: 2em;
    color: white;
}

.jay {
    text-align: center;
    font-size: 3em;
    color: yellow;
}